<html>
<head>
</head>
<body bgcolor="red">
  <% include partials/nav.ejs %>
  <h1> 9725912891 </h1>
  <form>
    Name : <input type="text" name="name" value="<%= qs.name %>"
  </form>
</body>
</html>
